
.invisible{
    display:none
} 

.input-amount{
	width: 20px;
}

.input-price{
	width: 60px;
}

.btn{
	padding: 5px 4px;
}

#paineis-sobre {
	margin-top: 20px;
}

html,
body {
	height: 100%;
	font-size:13px;
}

header {
	background-size: cover;
	background-position: top center;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.button-card{
	border-width: 0px;
    border-left: 0px;
    border-bottom: 0px;
    border-color: white;
    background-color: white;
}

.topCasaFina-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	width: 80%;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .3s;
}

.titulo-depoimentos {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.contato-select,

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}




