
.card-header{
    padding: 3.75rem 5.25rem !important;
    }
    .card-body{
    padding: 3.75rem 5.25rem !important;
    }
    
    .card-footer{
    padding: 3.75rem 5.25rem !important;
    }
.invisible{
    display:none
}    